body {
    background-color: #222;
}

.person{
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%;
    border-width: 0px;
    background-color: #00ff00;
}

#displayContainer{
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
}
